@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
#root,
html,
body{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     height: 100vh;
     font-family: 'Roboto', sans-serif;

}
.App{
     height: 100%;
     background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)),url(./assets/bg-1.jpg);
     background-size: cover;
     background-position: center;
     display: flex;
     justify-content: center;
     align-items: center;
}
.card{
     width: 50%;
     height: 30%;
     background-color: whitesmoke;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border-radius: 20px;
     padding: 15px;
     box-shadow: 1px 2px 10px 5px rgba(0,0,0,0.5);
}
.card .heading{
     font-size: 22px;
     font-weight: 300;
     display: flex;
     align-items: center;
     height: 582px;
 }

button{
     border: 1px solid #2a6fdb;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    color: #2a6fdb;
    position: relative;
}

button:hover {
     animation: rotate 0.7s ease-in-out both;
   }
     
   .button:hover span {
     animation: storm 0.7s ease-in-out both;
     animation-delay: 0.06s;
   }
     
   @keyframes rotate {
     0% {
       transform: rotate(0deg) translate3d(0, 0, 0);
     }
     25% {
       transform: rotate(3deg) translate3d(0, 0, 0);
     }
     50% {
       transform: rotate(-3deg) translate3d(0, 0, 0);
     }
     75% {
       transform: rotate(1deg) translate3d(0, 0, 0);
     }
     100% {
       transform: rotate(0deg) translate3d(0, 0, 0);
     }
   }
     
   @keyframes storm {
     0% {
       transform: translate3d(0, 0, 0) translateZ(0);
     }
     25% {
       transform: translate3d(4px, 0, 0) translateZ(0);
     }
     50% {
       transform: translate3d(-3px, 0, 0) translateZ(0);
     }
     75% {
       transform: translate3d(2px, 0, 0) translateZ(0);
     }
     100% {
       transform: translate3d(0, 0, 0) translateZ(0);
     }
   }  
   
   @media only screen and (max-width: 600px) {
     .card {
         width: 80%;
         height: 30%;
     }
   }